*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #333;
  color: #fff;
  padding: 16px 0;
  position: sticky;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.section {
  padding: 20px 0;
}

.section p {
  margin-bottom: 10px;
  text-indent: 20px;
}

.section__title {
  font-size: 30px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.logo {
  width: 50px;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
}

.nav__link:hover {
  color: rgb(97, 197, 255);
  text-decoration: underline;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list > li {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 4px;
}

#table {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-collapse: collapse;
}

#table th {
  background: #333;
  color: #fff;
}

#table tr:nth-child(even) {
  background: #f2f2f2;
}

.hero {
  background-image: url("./hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: #fff;
}

.hero__title {
  font-size: 50px;
  margin-bottom: 20px;
}